@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Arkipelago";
  src: url("../arkipelago/Arkipelago.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* animate */
.animate__slideInUp {
  animation-duration: 2s !important;
  /* animation-delay: 0.5s !important; */
  animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
}
.animate__fadeIn {
  animation-duration: 3s !important;
  animation-delay: 0.5s !important;
  animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
}
@keyframes softBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating-element {
  animation: softBounce 3s ease-in-out infinite;
  will-change: transform;
}

body {
  overflow: auto;
  background-color: #fffbf2;
  font-family: "Bebas Neue", sans-serif;
}

p,
span,
bdi,
del {
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
}
h3 {
  font-family: "Arkipelago", sans-serif;
  color: rgb(199, 161, 122);
  border: rgb(199, 161, 122);
  font-weight: 400;
}
.heroHeader.scrolled {
  padding-bottom: 0;
  border-bottom: 0 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heroHeader.scrolled .heroBorder {
  background: #fffbf2;
  border-bottom: 0.3px solid #000 !important;
}
.heroHeader.scrolled .links {
  border-left: 0.3px solid #000 !important;
}
.heroHeader.scrolled a {
  color: black !important;
}
.heroHeader.scrolled a:hover::after {
  background-color: black !important;
}
.heroHeader.scrolled span {
  color: black !important;
}
.heroHeader.scrolled .infoRight {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    border-left: 0.3px solid #000 !important;
  }
  @media screen and (min-width: 1025px) {
    border-left: 0.3px solid #000 !important;
    border-right: 0.3px solid #000 !important;
  }
}
.heroHeader.scrolled .infoRight button {
  color: black !important;
}
.heroHeader.scrolled .logo {
  @media screen and (min-width: 1025px) {
    border-left: 0.3px solid #000 !important;
    border-right: 0.3px solid #000 !important;
  }
}
.heroHeader.scrolled .logoRed {
  display: block !important;
}
.heroHeader.scrolled .logoBlack {
  display: none;
}

/* hero sec */
.hero {
  .heroHeader {
    background-color: transparent;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    padding-bottom: 2px;

    .heroBorder {
      border-bottom: 0.3px solid rgba(255, 255, 255, 0.4);
      transition: 0.3s;
      z-index: 9999;

      .container {
        height: auto !important;
        .links {
          @media screen and (max-width: 1024px) {
            display: none !important;
          }
          @media screen and (min-width: 1025px) {
            width: 468px;
            max-width: 40%;
            height: 94px;
            max-height: 100%;
            padding: 20px 0 20px 30px;
            border-left: 0.3px solid rgba(255, 255, 255, 0.4);
            text-align: left;
          }
          ul {
            width: 436.4px;
            margin: 0;
            padding: 0;
            gap: 25px;

            a {
              position: relative;
              color: white;
              transition: 0.3s;
              text-decoration: none;
              text-decoration-skip-ink: none;
              font-size: 20px;
              font-weight: 500;
              letter-spacing: 1px;
              padding-right: 10px;
            }
            .a1 {
              width: 56.63px;
            }
            .a2 {
              width: 61.4px;
            }
            .a3 {
              width: 91.1px;
            }
            .a4 {
              width: 74.06px;
            }
          }
        }

        .logo {
          width: 306.55px;
          max-width: 40%;
          height: 80.8px;
          max-height: 100%;

          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 307.2px;
            max-width: 30%;
            height: 69.4px;
          }
          @media screen and (min-width: 1025px) {
            width: 234px;
            max-width: 20%;
            height: 94px;
            justify-content: center !important;
            border-right: 0.3px solid rgba(255, 255, 255, 0.4);
            border-left: 0.3px solid rgba(255, 255, 255, 0.4);
          }

          .logoMargin {
            position: fixed;
            top: 25px;
            width: 286.55px;
            max-width: 93.479%;
            height: 100px;
            margin-left: 20px;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 277.2px;
              max-width: 90.24%;
              height: 110px;
              margin-left: 30px;
            }
            @media screen and (min-width: 1025px) {
              width: 234;
              justify-content: center !important;
              max-width: 100%;
              height: 130px;
              margin-left: 0;
            }

            img {
              width: 100px;
              height: 100px;
              transition: 0.3s;

              @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 110px;
                height: 110px;
              }
              @media screen and (min-width: 1025px) {
                width: 130px;
                height: 130px;
              }
            }
          }
        }

        .info {
          width: 396.8px;
          max-width: 40%;
          height: 69.4px;
          max-height: 100%;
          padding: 20px 0;

          @media screen and (min-width: 993px) and (max-width: 1024px) {
            width: 409.6px;
          }
          @media screen and (min-width: 1025px) {
            width: 292.5px;
            max-width: 25%;
            height: 94px;
            padding: 0;
          }

          nav {
            @media screen and (min-width: 768px) {
              width: 138px;
              height: 29.4px;
            }

            a {
              color: white;
              transition: 0.3s;

              i {
                @media screen and (min-width: 768px) {
                  width: 20px;
                  height: 20px;
                  margin-right: 20px;
                  font-size: 20px;
                }
              }
              .i3 {
                @media screen and (min-width: 768px) {
                  margin-right: 0;
                }
              }
              .i4 {
                @media screen and (min-width: 768px) {
                  margin-left: 20px;
                  margin-right: 0;
                }
              }
            }
          }
        }
        .infoRight {
          width: 459.84px;
          max-width: 60%;
          height: 80.8px;
          max-height: 100%;
          padding: 20px 0;

          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 307.2px;
            max-width: 30%;
            height: 69.4px;
            padding: 10px;
            justify-content: center !important;
            border-left: 0.3px solid rgba(255, 255, 255, 0.4);
          }
          @media screen and (min-width: 1025px) {
            width: 175.5px;
            max-width: 30%;
            height: 94px;
            padding: 10px;
            justify-content: center !important;
            border-left: 0.3px solid rgba(255, 255, 255, 0.4);
            border-right: 0.3px solid rgba(255, 255, 255, 0.4);
          }

          span {
            font-family: "Bebas Neue", sans-serif;
            width: 131.29px;
            color: white;
            transition: 0.3s;
            height: 22px;
            letter-spacing: 3px;
            font-size: 22px;
            opacity: 1;
            overflow: hidden;
          }
          .btn {
            width: 40px;
            height: 40.8px;
            justify-content: center;
            align-items: end;
            color: white;
            transition: 0.3s;
            rotate: 90deg;
            padding: 0 !important;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              align-items: start;
            }
            @media screen and (min-width: 1025px) {
              display: none !important;
            }

            i {
              width: 20px;
              height: 20px;
            }
          }

          .offcanvas {
            width: 300px !important;
            padding: 30px !important;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 400px !important;
              padding: 60px !important;
            }

            .offcanvas-body {
              width: 240px !important;
              height: 584px !important;

              @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 280px !important;
                height: 524px !important;
              }

              ul {
                width: 240px;
                height: 584px;

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                  width: 280px !important;
                  height: 524px !important;
                }

                a {
                  color: #000000;
                  text-decoration: none;
                  text-decoration-skip-ink: none;
                  font-size: 26px;
                  font-weight: 700;
                  letter-spacing: 1px;
                  line-height: 1.6;
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    #carouselExampleIndicators {
      height: 116vh !important;

      @media screen and (max-width: 767px) {
        height: 100vh !important;
      }
      @media screen and (min-width: 960px) {
        height: 100vh !important;
      }
      @media screen and (min-width: 1025px) {
        height: 750px !important;
      }

      .carousel-indicators {
        bottom: 10px !important;
        @media screen and (min-width: 768px) {
          bottom: 35px !important;
        }
        @media screen and (min-width: 1025px) {
          bottom: 55px !important;
        }
      }
      .hero-slide {
        height: 116vh !important;

        @media screen and (max-width: 767px) {
          height: 100vh !important;
        }
        @media screen and (min-width: 960px) {
          height: 100vh !important;
        }
        @media screen and (min-width: 1025px) {
          height: 750px !important;
        }

        position: relative;
        overflow: hidden;

        .overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 116vh;
          background-color: rgba(0, 0, 0, 0.349) !important;
          z-index: 1;

          @media screen and (max-width: 767px) {
            height: 100vh !important;
          }
          @media screen and (min-width: 960px) {
            height: 100vh !important;
          }
          @media screen and (min-width: 1025px) {
            height: 750px !important;
          }
        }

        .text-slide {
          width: 346px;
          max-width: 89.44%;
          color: white;
          text-align: left;
          position: absolute;
          z-index: 2;
          top: 25%;

          @media screen and (min-width: 426px) and (max-width: 767px) {
            width: 686px;
            max-width: 89.44%;
            top: 35%;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 688.8px;
            max-width: 67.27%;
            top: 35%;
            transform: translateX(-20%);
          }
          @media screen and (min-width: 1025px) and (max-width: 2559px) {
            width: 561.6px;
            max-width: 39%;
            top: 22%;
            transform: translateX(-54%);
          }
          @media screen and (min-width: 2560px) {
            width: 561.6px;
            max-width: 21.938%;
            transform: translateX(-54%);
            top: 12%;
          }

          button {
            color: white;
            background-color: transparent;
            border: 1.6px solid white;
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 32px;
            margin-top: 30px;
            transition: 0.6s;
          }
          button:hover {
            color: #000;
            background-color: white;
          }
          h2 {
            width: 346px;
            max-width: 87%;
            font-size: 45px;
            font-weight: 400;
            line-height: 1.1em;
            letter-spacing: 0.5px;
            overflow: hidden;

            @media screen and (min-width: 426px) and (max-width: 767px) {
              width: 686px;
              max-width: 100%;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 688.8px;
              max-width: 100%;
              font-size: 60px;
              line-height: 60px;
            }

            @media screen and (min-width: 1025px) {
              width: 561.6px;
              max-width: 100%;
              font-size: 80px;
              line-height: 80px;
            }
          }

          p {
            width: 346px;
            max-width: 92%;
            font-size: 16px;
            font-weight: 400;
            line-height: 28.8px;
            text-transform: none;
            font-family: "Roboto", sans-serif !important;

            @media screen and (min-width: 426px) and (max-width: 767px) {
              width: 686px;
              max-width: 100%;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 688.8px;
              max-width: 100%;
              font-size: 18px;
              line-height: 32.4px;
            }

            @media screen and (min-width: 1025px) {
              width: 561.6px;
              max-width: 100%;
              font-size: 18px;
              line-height: 32.4px;
            }
          }

          .but1 {
            width: 209.8px;
            padding: 12px 50px 10px;
          }
          .but2 {
            width: 186.55px;
            padding: 12px 50px 10px;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .rectangle {
      width: 100%;
      position: absolute;
      z-index: 3;
      bottom: -74px;
      background-image: url("../img-for-task/RandomPhoto.png");
      background-position-x: center;
      background-position-y: top;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (min-width: 768px) {
        bottom: -50px;
      }
      @media screen and (min-width: 1025px) and (max-width: 1400px) {
        bottom: -70px;
      }

      .rectangleMargin {
        max-width: 1170px;
        height: auto;
        min-height: 150px;

        @media screen and (max-width: 767px) {
          min-height: 80px;
          max-width: 767px;
        }
        @media screen and (max-width: 1024px) {
          min-height: 100px;
          max-width: 1024px;
        }
      }
    }
  }
}

/* line */
@media screen and (min-width: 768px) {
  .rectangleMargin::before {
    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 0px;

    width: 0.8px;
    height: 100%;

    background: #222;

    z-index: 5;
  }

  .links a::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

/* fixd divs */
@media screen and (min-width: 1025px) {
  .sideIcon {
    width: 40px;
    height: 90px;
    background: #ffffff;
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    font-family: "Roboto", sans-serif !important;
    cursor: pointer;

    right: -2px;
    top: 150px;

    gap: 10px;
    z-index: 9999;

    .icon {
      font-size: 15px;
    }
  }
}

.scrollTop {
  width: 45px;
  height: 45px;
  background-color: #000;
  color: white;

  position: fixed;
  right: 20px;
  bottom: 24px;
  z-index: 9999;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  visibility: 0.4s;
}

.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

.scrollTop .icon {
  font-size: 15px;
}

/* secsion 1 */
.sec1 {
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 0 0 40px;
  }

  .container {
    padding: clamp(25px, calc(17.857px + 2.232vw), 50px) 0 0 !important;

    .rectanglParant {
      width: clamp(185px, calc(-53.571px + 74.554vw), 1020px);

      .rectanglSon {
        width: clamp(185px, calc(172.143px + 4.018vw), 230px);
        height: clamp(179.71px, calc(167.219px + 3.904vw), 223.43px);
        background-image: url("../img-for-task/b3radSec1.png");
        background-size: cover;
        top: 20px;
        right: 0px;
        z-index: -1;
      }
    }
  }

  .container {
    max-width: 1440px !important;
    width: clamp(280px, calc(-39.284px + 99.776vw), 726px);

    @media screen and (min-width: 768px) {
      width: clamp(753px, calc(-32.143px + 102.232vw), 1440px) !important;
    }

    .contentHead {
      width: clamp(280px, calc(25.714px + 79.464vw), 1170px);

      h3 {
        width: clamp(280px, calc(25.714px + 79.464vw), 1170px);
        margin: 0 !important;
        color: rgb(199, 161, 122);
        border: rgb(199, 161, 122);
        font-weight: 400;
        font-size: clamp(2rem, calc(1.5rem + 2.5vw), 3.75rem);
        letter-spacing: 0.5px;
        line-height: clamp(36px, 2.14vw + 29.1px, 60px);
        text-align: center;
      }
      h1 {
        width: clamp(280px, calc(25.714px + 79.464vw), 1170px);
        margin: 0 !important;
        color: #000;
        border: #000;
        font-weight: 500;
        font-size: clamp(3.13rem, calc(2.232rem + 4.464vw), 6.25rem);
        line-height: clamp(3.13rem, calc(2.232rem + 4.464vw), 6.25rem);
        letter-spacing: 0.5px;
        text-align: center;
      }
    }

    .contentEnd {
      width: clamp(320px, calc(0px + 100vw), 1440px);
      padding: clamp(0px, calc(25.714px - 1.786vw), 20px) 0 0;
      position: relative;

      @media screen and (min-width: 768px) {
        left: clamp(-150px, calc(-42.857px - 7.44vw), -100px);
      }

      .endLift {
        padding-top: 30px;

        img {
          width: clamp(615.95px, calc(172.636px + 57.723vw), 1003.85px);
          height: clamp(410.625px, calc(115.082px + 38.482vw), 669.225px);
          object-fit: cover;
        }
        h2 {
          position: absolute;
          bottom: -20px;
          left: 18%;

          width: clamp(424.8px, calc(108px + 41.25vw), 702px);
          margin: 0;
          color: #000;
          border: #000;
          font-size: 70px;
          font-weight: 400;
          letter-spacing: 0.5px;
          line-height: clamp(3.94rem, calc(2.009rem + 4.018vw), 5.63rem);

          @media screen and (min-width: 1025px) {
            font-size: 100px;
          }
        }
      }

      .endRight {
        width: clamp(280px, calc(-39.284px + 99.776vw), 726px);
        padding-top: 20px;

        @media screen and (min-width: 768px) {
          width: clamp(283.2px, calc(72px + 27.5vw), 468px);
          padding: clamp(120px, calc(62.857px + 7.44vw), 170px) 0 0
            clamp(41px, calc(30.714px + 1.339vw), 50px);
        }
        .line {
          position: relative;
          width: clamp(96.44px, calc(89.837px + 2.063vw), 119.55px);
          color: #000;
          border: #000;
          margin: 0 0 0 100px;
          font-weight: 400;
          font-size: clamp(2rem, calc(1.875rem + 0.625vw), 2.44rem);
          line-height: clamp(2rem, calc(1.875rem + 0.625vw), 2.44rem);
        }
        p {
          width: clamp(280px, calc(-39.284px + 99.776vw), 726px);
          color: #000;
          border: #000;
          padding: 19.2px 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 28.8px;

          @media screen and (min-width: 768px) {
            width: clamp(203.2px, calc(-42.286px + 31.964vw), 418px);
          }
        }
      }
    }
  }
}

.line::before {
  content: "";
  position: absolute;

  left: -110%;
  transform: translateX(-50%);
  top: 50%;

  width: 170px;
  height: 0.8px;

  background: #222;

  z-index: 5;
}

/* sec2 */
.sec2 {
  height: clamp(400px, calc(328.571px + 22.321vw), 650px);
  background-image: url("../img-for-task/sec2back.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  .overlay {
    position: relative;
    height: clamp(400px, calc(328.571px + 22.321vw), 650px);
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;

    .randomPhotoTop {
      width: 100%;
      height: clamp(100px, calc(85.714px + 4.464vw), 150px);
      position: absolute;
      z-index: 2;
      top: 0;

      background-image: url("../img-for-task/RandomPhoto2.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-position-y: top;
    }

    .secText {
      width: clamp(320px, calc(77.143px + 75.893vw), 1170px);

      h3 {
        width: clamp(320px, calc(77.143px + 75.893vw), 1170px);
        font-size: clamp(2.25rem, calc(1.821rem + 2.143vw), 3.75rem);
        line-height: clamp(2.25rem, calc(1.821rem + 2.143vw), 3.75rem);
        letter-spacing: 0.5;
        text-align: center;
      }
      h1 {
        width: clamp(320px, calc(77.143px + 75.893vw), 1170px);
        color: white;
        border: white;
        font-size: clamp(3.75rem, calc(2.857rem + 4.464vw), 6.88rem);
        line-height: clamp(3.75rem, calc(2.857rem + 4.464vw), 6.88rem);
        letter-spacing: 0.5;
        text-align: center;
      }
    }

    .randomPhotoBottom {
      width: 100%;
      height: clamp(80px, calc(60px + 6.25vw), 150px);

      position: absolute;
      z-index: 2;
      bottom: clamp(-60px, calc(-52.286px - 0.536vw), -54px);

      background-image: url("../img-for-task/RandomPhoto.png");
      background-size: contain;
      background-position-x: center;
      background-repeat: no-repeat;
      background-position-y: top;
    }
  }
}
/* line */
@media screen and (min-width: 1025px) {
  .randomPhotoBottom::before {
    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: -50px;

    width: 0.8px;
    height: 133.33%;

    background: #222;

    z-index: 3;
  }
}

/* sec 3 */
.sec3 {
  padding: clamp(64px, calc(45.714px + 5.714vw), 128px) 0
    clamp(64px, calc(63.954px + 0.014vw), 64.16px);

  .container {
    padding: 0 20px !important;
    @media screen and (max-width: 767px) {
      max-width: 767px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      max-width: 1024px;
      padding: 0 10px 0 30px !important;
    }
    @media screen and (min-width: 1025px) {
      max-width: 1170px;
      padding: 0 0 0 clamp(0px, calc(145.735px - 10.12vw), 42px) !important;
    }
    .productCard {
      transition: box-shadow 0.5s ease-in-out;
      position: relative;

      @media screen and (min-width: 768px) {
        width: clamp(217.11px, calc(46.321px + 22.238vw), 366.55px);
      }
      height: 550px;
      border: #000;
      overflow: hidden;
      background-size: cover;
      background-position: 50% 50%;

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.7) 0%,
          rgba(0, 0, 0, 0.3) 50%,
          transparent 100%
        );
      }
      .productBorder {
        height: 510px;
        inset: 20px;
        padding: 10px 20px;
        border: 1px solid rgb(255, 255, 255);
        position: absolute;
        z-index: 3;
        color: #ffffff;
      }
    }

    .coffe {
      background-image: url("../img-for-task/brewing-coffee.jpg");
    }
    .bakery {
      background-image: url("../img-for-task/artisan-bakery.jpg");
    }
    .brekfast {
      background-image: url("../img-for-task/banana-cake.jpg");
    }
  }
}
.productIcon {
  width: clamp(198px, calc(-121.57px + 99.866vw), 644.4px);
  transform: translateY(clamp(90px, calc(347.383px - 33.557vw), 240px));
  transition: transform 0.5s ease-in-out;
  line-height: 28.8px;

  @media screen and (min-width: 768px) {
    width: clamp(140.21px, calc(-25.207px + 21.539vw), 284.95px);
    transform: translateY(clamp(150px, calc(514.286px - 25.298vw), 320px));
  }

  img {
    width: 50px;
    object-fit: cover;
  }
  h2 {
    border: white;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 61.2px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: clamp(2rem, calc(1.714rem + 0.595vw), 2.25rem);
      line-height: clamp(3.4rem, calc(2.914rem + 1.012vw), 3.83rem);
    }
  }
}
.producttext {
  p {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    border: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;

    @media screen and (min-width: 768px) {
      transform: translateY(150px);
    }
  }
}

.productCard:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.8);
}
.productBorder:hover .productIcon {
  transform: translateY(0);
}
.productBorder:hover p {
  opacity: 1;
  transform: translateY(0);
}

.rowDiv {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.row {
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    padding: 1rem 0;
  }
  @media screen and (min-width: 1025px) {
    padding: 2rem 0;
  }
}
.textOne {
  width: clamp(280px, calc(-39.284px + 99.776vw), 726px);
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    width: clamp(215.99px, calc(61.693px + 20.091vw), 351px);
  }
  .topImg {
    position: absolute;
    bottom: -20%;
    right: -40%;
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      img {
        width: 110px;
        height: 270.71px;
      }
    }
    @media screen and (min-width: 1025px) {
      display: flex;
      top: 40px;
      left: clamp(-110px, calc(-258.193px + 14.458vw), -50px);
      img {
        width: 110px;
        height: 270.71px;
      }
    }
  }
  .bottomImg {
    position: absolute;
    display: flex;
    top: 50px;
    right: 0;

    img {
      width: 175px;
      height: 166.5px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
    @media screen and (min-width: 1025px) {
      justify-content: start;
      align-items: end;
      left: -135px;
      bottom: clamp(-160px, calc(-258.795px + 9.639vw), -120px);
      img {
        width: 260px;
        height: 247.36px;
      }
    }
  }

  .textHead {
    width: 100%;
    line-height: 28.8px;
    font-size: 16px;

    .headLine {
      width: 100%;
      height: 100px;
      position: relative;
      margin: 0 0 clamp(7.99px, calc(-11.405px + 6.061vw), 50.66px);

      @media screen and (min-width: 1025px) {
        width: 80%;
        height: 150px;
        margin: 0 0 44.99px;
        inset: 0 0 0 clamp(20.8px, calc(-2.286px + 3.006vw), 41px);
      }
    }

    .headtext {
      width: 100%;

      h2 {
        width: clamp(260px, calc(-59.284px + 99.776vw), 706px);
        border: #000;
        color: #000;
        font-size: clamp(2.25rem, calc(1.911rem + 1.696vw), 3.44rem);
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: clamp(2.7rem, calc(2.391rem + 1.545vw), 3.78rem);
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
          width: clamp(194.4px, calc(15.429px + 23.304vw), 351px);
        }
      }
    }
  }

  .textImg {
    width: 100%;
    height: 74.28px;

    @media screen and (min-width: 768px) {
      height: clamp(50.58px, calc(37.209px + 1.741vw), 62.28px);
    }
    img {
      width: 250px;
      filter: invert(1);

      @media screen and (min-width: 768px) {
        width: clamp(215.99px, calc(177.121px + 5.061vw), 250px);
      }
    }
  }

  .textDec {
    width: 100%;
    padding-top: 5px;

    @media screen and (min-width: 768px) {
      padding-top: 10px;
    }
    span {
      width: clamp(216.09px, calc(160.401px + 17.403vw), 293.88px);
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      line-height: 13px;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
        font-size: 14px;
        width: clamp(149.1px, calc(-126.203px + 35.847vw), 389.99px) !important;
      }
    }
  }
}

.rowImg {
  width: clamp(320px, calc(0px + 100vw), 767px);
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 350px;
    padding: 40px 0 0 clamp(60px, calc(25.714px + 4.464vw), 90px);
    position: relative;
  }
  @media screen and (min-width: 1025px) {
    width: 470px;
  }
  img {
    width: 320px;

    @media screen and (min-width: 768px) {
      width: 350px;
    }
    @media screen and (min-width: 1025px) {
      width: 470px;
    }
  }
}

.textTow {
  padding: 60px 50px;
  background-color: #000;
  color: white;

  @media screen and (max-width: 767px) {
    margin-left: -8px !important;
    width: 100vw !important;
    max-width: 100vw;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    position: absolute;
    right: 6%;
    top: 35%;
    width: clamp(349.4px, calc(-73px + 55vw), 490.2px);
    margin: 0;
    padding: 60px 50px 20px;
  }
  @media screen and (min-width: 1025px) {
    position: absolute;
    right: 1%;
    top: 28%;
    width: clamp(424.06px, calc(277.053px + 14.342vw), 483.58px);
    margin: 0;
  }

  h2 {
    margin: 0;
    border: #ffffff;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 38.4px;
    text-transform: uppercase;

    @media screen and (min-width: 1025px) {
      font-size: 40px;
      line-height: 44px;
    }
  }
  p {
    margin: 0;
    padding: 19.2px 0;
    border: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28.8px;
  }
  button {
    border: 0;
    border: 0.8px solid #c7a17a;
    background-color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 20px;
    padding: 12px 24px;
    text-align: center;
    text-decoration-color: #c7a17a;
    text-decoration-style: solid;
    transition: all 0.4s ease;
    color: #c7a17a;

    span {
      border: #c7a17a;
      opacity: 1;
      font-family: "Bebas Neue", sans-serif;
    }
  }

  button:hover {
    background-color: #c7a17a;
    color: white;
    transform: scale(90%);
  }
}
.headLine::before {
  content: "";
  position: absolute;

  left: 0;
  transform: translateX(-50%);
  top: 0;

  width: 0.8px;
  height: 100px;

  background: #222;

  z-index: 2;
  @media screen and (min-width: 1025px) {
    height: 150px;
  }
}

/* sec 4 */
.sec4 {
  height: clamp(400px, calc(328.571px + 22.321vw), 650px);
  background-image: url("../img-for-task/jonathan-borba-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin: clamp(35px, calc(322.857px - 29.018vw), 100px) 0 0;
  }
  @media screen and (min-width: 993px) {
    margin-top: 35px;
  }

  .overlay {
    position: relative;
    height: clamp(400px, calc(328.571px + 22.321vw), 650px);
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;

    .randomPhotoTop {
      width: 100%;
      height: clamp(100px, calc(85.714px + 4.464vw), 150px);
      position: absolute;
      z-index: 2;
      top: 0;

      background-image: url("../img-for-task/RandomPhoto2.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-position-y: top;
    }

    .secText {
      width: clamp(320px, calc(77.143px + 75.893vw), 1170px);

      h3 {
        width: clamp(320px, calc(77.143px + 75.893vw), 1170px);
        font-size: clamp(2.25rem, calc(1.821rem + 2.143vw), 3.75rem);
        line-height: clamp(2.25rem, calc(1.821rem + 2.143vw), 3.75rem);
        letter-spacing: 0.5;
        text-align: center;
      }
      h1 {
        width: clamp(320px, calc(77.143px + 75.893vw), 1170px);
        color: white;
        border: white;
        font-size: clamp(3.75rem, calc(2.857rem + 4.464vw), 6.88rem);
        line-height: clamp(3.75rem, calc(2.857rem + 4.464vw), 6.88rem);
        letter-spacing: 0.5;
        text-align: center;
      }
    }

    .randomPhotoBot {
      width: 100%;
      height: clamp(80px, calc(60px + 6.25vw), 150px);

      position: absolute;
      z-index: 2;
      bottom: clamp(-60px, calc(-52.286px - 0.536vw), -54px);

      background-image: url("../img-for-task/RandomPhoto.png");
      background-size: contain;
      background-position-x: center;
      background-repeat: no-repeat;
      background-position-y: top;
    }
  }
}

/* sec 5 */
.sec5 {
  padding: 0 0 clamp(64px, calc(63.954px + 0.014vw), 64.16px);

  .container {
    padding: 0 20px !important;
    @media screen and (max-width: 767px) {
      max-width: 767px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      max-width: 1024px;
      padding: 0 10px 0 30px !important;
    }
    @media screen and (min-width: 1025px) {
      max-width: 1170px;
      padding: 0 0 0 clamp(0px, calc(145.735px - 10.12vw), 42px) !important;
    }
    .productCard2 {
      transition: box-shadow 0.5s ease-in-out;
      position: relative;

      @media screen and (min-width: 768px) {
        width: clamp(217.11px, calc(46.321px + 22.238vw), 366.55px);
      }

      a {
        text-decoration: none;
        color: #000;
      }
      .productContainer {
        transform: translateY(0);
        transition: all 0.21s ease-in-out;

        img {
          width: clamp(240px, calc(-79.57px + 99.866vw), 686.4px);
          height: auto;
          object-fit: cover;

          @media screen and (min-width: 768px) and (max-width: 992px) {
            width: clamp(339.84px, calc(23.863px + 41.143vw), 432px);
          }
          @media screen and (min-width: 993px) {
            width: clamp(270.19px, calc(64.681px + 20.696vw), 362.7px);
          }
        }

        .sale {
          padding: 10px 5px;
          position: absolute;
          top: 25px;
          left: 15px;
          background-color: #d22226;
          color: white;

          @media screen and (max-width: 767px) {
            top: 10px;
          }
        }
        .producttext {
          margin-bottom: 9px;
        }
        h2 {
          font-size: 30px;
          font-weight: 400;
          letter-spacing: 0.5px;
          line-height: 51px;
        }

        span {
          opacity: 1;

          bdi {
            opacity: 1;
            border: #000;
            font-size: 18px;
            font-weight: 700;
            line-height: 32.4px;
          }
        }

        button {
          width: clamp(240px, calc(-79.284px + 99.776vw), 686px);
          border: 0;
          background-color: #000;
          color: white;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 20px;
          opacity: 0;
          text-align: center;
          padding: 16px 30px;
          text-transform: uppercase;
          transition: all 0.21s ease-in-out;
          transform: translateY(-10px);

          @media screen and (min-width: 768px) and (max-width: 992px) {
            width: clamp(339.83px, calc(23.819px + 41.147vw), 432px);
          }
          @media screen and (min-width: 993px) {
            width: clamp(270.1px, calc(64.391px + 20.716vw), 362.7px);
          }
          span {
            font-family: "Bebas Neue", sans-serif;
          }
        }
      }

      .productContainer:hover {
        transform: translateY(-20px);
      }
      .productContainer:hover button {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/* footer */

.footerPhoto {
  .footerLogo {
    bottom: 240px;
    left: clamp(160px, calc(74.094px + 26.846vw), 280px);
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      width: 170px;
    }
  }

  .left {
    height: clamp(390.58px, calc(588.198px - 25.765vw), 505.75px);
    padding: 0 0 0 30px;
    background-color: #1e1d19;

    @media screen and (min-width: 768px) {
      height: 400px;
    }
    @media screen and (min-width: 1025px) {
      padding: 100px;
    }
    .leftText {
      @media screen and (max-width: 767px) {
        width: clamp(260px, calc(-59.284px + 99.776vw), 706px);
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: clamp(264px, calc(-120px + 50vw), 392px);
      }
      @media screen and (min-width: 1025px) {
        width: clamp(222.67px, calc(-289.41px + 49.959vw), 430px);
      }

      h2 {
        border: white;
        color: white;
        font-size: 36px;
        font-weight: 400px;
        letter-spacing: 0.5px;
        line-height: 36px;
        text-transform: uppercase;

        @media screen and (min-width: 1025px) {
          font-size: 45px;
          line-height: 45px;
        }
      }
      p {
        color: white;
        border: white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 28.8px;
        padding: 16px 0;
        opacity: 1;
      }
      img {
        width: 250px;
      }
    }
  }

  .right {
    height: 400px;
    background-image: url("../img-for-task/Photo-for-footer.jpg");
    background-size: cover;
  }
}

.footercopyWriting {
  height: clamp(111.47px, calc(164.319px - 6.89vw), 142.27px);
  text-align: center;
  
  @media screen and (min-width: 768px) {
    height: 102.67px;
  }
  h3 {
    margin: 0;
    width: clamp(300px, calc(-19.284px + 99.776vw), 746px);
    font-family: "Bebas Neue", sans-serif;
    color: white;
    border: white;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

.footerText {
  border-bottom: 0.666667px solid rgba(255, 255, 255, 0.4);
  padding: 60px 0;
  
  @media screen and (min-width: 1025px) {
    flex-direction: row !important;
  }
}
.textInfo {
  img {
    width: 62px;
  }
  span {
    color: white;
    border: white;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    padding: 16px 0;
  }
}
.info1 {
  width: clamp(298.67px, calc(-20.614px + 99.776vw), 744.67px);
  padding: 40px 30px;
  gap: 20px;
  border: 0.666667px solid rgba(255, 255, 255, 0.4);

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: clamp(298.67px, calc(-6.906px + 39.84vw), 401.06px);
  }
  @media screen and (min-width: 1025px) {
    width: clamp(351.4px, calc(226.35px + 12.2vw), 402.03px);
  }
}
.info2 {
  width: clamp(298.67px, calc(-20.614px + 99.776vw), 744.67px);
  padding: 40px 30px;
  gap: 20px;
  border-width: 0 0.666667px 0.666667px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: clamp(448px, calc(-12.77px + 59.996vw), 601.59px);
    border-width: 0.666667px 0.666667px 0.666667px 0;
  }
  @media screen and (min-width: 1025px) {
    width: clamp(401.59px, calc(258.658px + 13.945vw), 459.46px);
    border-width: 0.666667px 0.666667px 0.666667px 0;
  }
}

.textLinks {
  width: clamp(298.67px, calc(-20.614px + 99.776vw), 744.67px);
  height: 106.67px;
  padding: 40px 0;
  gap: 20px;
  border-width: 0 0.666667px 0.666667px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: clamp(746.67px, calc(-21.33px + 100vw), 1002.67px);
  }
  @media screen and (min-width: 1025px) {
    width: clamp(244.29px, calc(157.35px + 8.482vw), 279.49px);
    height: 170.94px;
    border-width: 0.666667px 0.666667px 0.666667px 0;
  }
  i {
    color: white;
    font-size: 26px;
    font-weight: 400;
  }
}